.previewMainDiv {
  margin: 10px 20px;
}

.levelButton {
  width: 300px;
  height: 100px;
  border: 1px solid black;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.completed {
  background-color: #4be83c;
}

.notCompleted {
  background-color: #8a8a8a;
}
