.playgroundMainDiv {
  height: 70%;
  background-color: #d2d2d2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: row;
}
