.caseMainDiv {
  height: 90px;
  width: 90px;
  background-color: #8a8a8a;
  border: 1px solid black;
}

.image {
  height: 90px;
  width: 90px;
}

.selected {
  border: 1px solid red;
}