.victory {
  position: absolute;
  z-index: 10;
  left: 0;
  right: 0;
  text-align: center;
  margin: 15% auto;
  width: 300px;
  height: 100px;
  background-color: #918d6e;
  border: 2px solid black;
}

.playgroundDiv {
  height: 73%;
  background-color: #d2d2d2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.actionPanelDiv {
  height: 27%;
  padding: 0 20%;
  background-color: #c4c4c4;
  display: flex;
  flex-direction: row;
  justify-content: center;
}