.victory {
  position: absolute;
  z-index: 10;
  left: 0;
  right: 0;
  text-align: center;
  margin: 15% auto;

  width: 300px;
  height: 100px;
  background-color: #918d6e;
  border: 2px solid black;
}
